<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div>
        <h5>{{error}}</h5>
    </div>
    <form action="/register" method="POST">
        <input type="email" name="email" placeholder="Enter email"> <br><br>
        <input type="password" name="pass" placeholder="Enter password"> <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>